{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Devis
{% endblock %}

{% block body %}
    <section class="container my-5">
        <h1 class="text-center text-success mb-4">Demandez votre devis gratuit</h1>
        <p class="text-center mb-5">Chez LBF Paysage, nous vous proposons un devis rapide, professionnel et sans engagement. Remplissez le formulaire ci-dessous :</p>
         {{form(form)}}
    </section>
{% endblock %}
